@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

*,
::before,
::after {
  outline: 1px solid red;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #fbf8f5;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #fbf8f5;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  margin-right: 100px;
  margin-left: 100px;
}

.nav {
}

.nav__link {
  margin-right: 35px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.nav_link:last-child {
  margin-right: 0;
}

.main {
  background-color: #fbf8f5;
}
.intro__main {
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  display: flex;
  gap: 30px;
}

.intro__child {
  display: flex;
  flex-direction: column;
}

.child__textOne {
  font-size: 64px;
  margin-left: 95px;
  margin-bottom: 0;
}

.child__textTwo {
  font-size: 18px;
  display: flex;
  width: 523px;
  height: 112px;
  margin-left: 95px;
}

.intro__button {
  background-color: #e9672b;
  border-radius: 30px;
  width: 154px;
  height: 60px;
  color: black;
  font-size: 18px;
  margin-left: 105px;
}

.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms__text {
  display: flex;
  align-items: center;
  font-size: 48px;
}

.rooms__wrapper {
  display: flex;
  gap: 30px;
}

.rooms__child-one {
  width: 248px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-color: #e9672b;
  box-shadow: 8px 8px #cbc6f4;
}

.rooms__child-two {
  width: 248px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-color: #225dca;
  box-shadow: 8px 8px #e7cb43;
}

.rooms__child-three {
  width: 248px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-color: #242947;
  box-shadow: 8px 8px #a2d4c5;
}

.rooms__child-four {
  width: 248px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-color: #de4333;
  box-shadow: 8px 8px #af4920;
}

.main__text {
  background-color: white;
  height: 381px;
}

.main__textOne {
  text-align: center;
  font-size: 36px;
}

.main__textTwo {
  font-size: 24px;
  text-align: center;
  margin-left: 194px;
  margin-right: 194px;
}

.blockOne {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.blockOne__wrapper {
  display: flex;
  gap: 300px;
}

.blockOne__child {
  display: flex;
  flex-direction: column;
}

.blockOne-child__textOne {
  font-size: 36px;
  margin-left: 85px;
  margin-bottom: 0;
  width: 397px;
  height: 88px;
}

.blockOne-child__textTwo {
  font-size: 18px;
  display: flex;
  width: 402px;
  height: 84px;
  margin-left: 85px;
}

.blockOne__link {
  width: 148px;
  height: 28px;
  text-decoration-line: none;
  text-size-adjust: 18px;
  color: #e9672b;
  margin-left: 85px;
}

.garage {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.garage__wrapper {
  display: flex;
  gap: 30px;
}

.garage__child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.garage_textOne {
  width: 412px;
  height: 44px;
  font-size: 36px;
}

.garage_textTwo {
}

.garage__link {
  text-decoration-line: none;
  color: #e9672b;
}
