@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }
  .intro__text {
    padding-right: 250px;
  }
  .intro__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 768px;
  }
  .intro__wrapper {
    display: grid;
    justify-items: center;
  }

  .room__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 360px;
  }
}
.header {
  background-color: #fbf8f5;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  display: flex;
  margin-top: 33px;
  padding: 0 0 0 0;
  justify-content: center;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
}

.img__logo {
  margin: 0 124px 0 151px;
}

#One {
  margin-right: 36px;
}

#Two {
  margin-right: 36px;
}

#Three {
  margin-right: 56px;
}

#Four {
  margin-right: 34px;
}

#Five {
  margin-right: 40px;
}

.intro {
  background-color: #fbf8f5;
  height: 551px;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
}

.intro__title {
  font-size: 64px;
  margin-left: 96px;
}

.intro__text {
  padding-right: 33px;
  font-size: 18px;
  margin-left: 96px;
}

.intro__button {
  background-color: #e9672b;
  border-radius: 30px;
  padding: 16px 32px;
  margin-left: 105px;
}

.intro__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.room {
  background-color: #fbf8f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room__title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  height: 54px;
}

.room__wrapper {
  display: flex;
  justify-content: center;
  gap: 36px;
  height: 326px;
  align-items: flex-start;
}

.living {
  border-radius: 4px;
  border: 2px solid #e9672b;
  box-shadow: 8px 8px #cbc6f4;
}

.living__text {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bedroom {
  border-radius: 4px;
  border: 2px solid #225dca;
  box-shadow: 8px 8px #e7cb43;
}

.bedroom__text {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.office {
  border-radius: 4px;
  border: 2px solid #242947;
  box-shadow: 8px 8px #a2d4c5;
}

.office__text {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dining {
  border-radius: 4px;
  border: 2px solid #de4333;
  box-shadow: 8px 8px #af4920;
}

.dining__text {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: #fbf8f5;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  height: 381px;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.info__title {
  display: flex;
  font-size: 36px;
  height: 44px;
  justify-content: center;
  margin: 0;
}

.info__text {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 0 194px;
  text-align: center;
  margin: 0;
}

.main {
  background-color: #fbf8f5;
}

.furniture__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  background-color: white;
  gap: 177px;
}

.furniture__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.furniture__title {
  display: flex;
  justify-content: start;
  font-size: 36px;
  margin: 0 0 0 85px;
}

.furniture__text {
  display: flex;
  justify-content: start;
  font-size: 18px;
  margin-left: 85px;
}

.furniture__link {
  font-size: 18px;
  color: #e9672b;
  margin-left: 85px;
  text-decoration: none;
}

.garage__wrapper {
  display: flex;
  padding-top: 30px;
  background-color: white;
}

.garage__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.garage__title {
  font-size: 36px;
  margin: 0 0 0 131px;
}

.garage__text {
  font-size: 18px;
  margin-left: 131px;
  padding-right: 92px;
}

.garage__word {
  font-size: 18px;
  margin-left: 131px;
}

.garage__link {
  text-decoration: none;
  color: #e9672b;
  margin: 14px 0 0 131px;
}

.assemble__title {
  font-size: 36px;
  margin: 0 0 0 131px;
  padding-right: 108px;
}

.assemble__text {
  font-size: 18px;
  margin-left: 131px;
  padding-right: 115px;
}

.assemble__link {
  font-size: 18px;
  text-decoration: none;
  color: #e9672b;
  margin: 14px 0 0 131px;
}

#con {
  height: 839px;
  background-color: white;
}

.bestsellers {
  background-color: #fbf8f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bestsellers__title {
  height: 44px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 112px 0 57px 0;
}

.bestsellers__wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 0 168px;
}

.table {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__img {
  display: flex;
  padding: 40px 32px 31px 32px;
}

.table__text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.console {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.console__img {
  display: flex;
  padding: 40px 32px 31px 32px;
}

.console__text {
  display: flex;
  text-align: center;
}

.chair {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chair__img {
  display: flex;
  padding: 40px 32px 31px 32px;
}

.chair__text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sofa {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sofa__img {
  display: flex;
  padding: 40px 32px 31px 32px;
}

.sofa__text {
  display: flex;
  text-align: center;
}

.bestsellers__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #e9672b;
  padding-top: 55px;
  padding-bottom: 144px;
  font-size: 18px;
}
.floyd {
  height: 486px;
  background-color: #fbf8f5;
}

.floyd__wrapper {
  display: flex;
}

.floyd__right {
  background-color: #e9672b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floyd__text {
  font-size: 36px;
  color: white;
  text-align: center;
}

.floyd__button {
  padding: 16px 40px;
  border-radius: 88px;
}

.floyd__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.article {
  background-color: #fbf8f5;
}

.reviews__title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin: 0 0 57px 0;
}

.reviews__wrapper {
  display: inline-flex;
  gap: 32px;
  height: 430px;
}

.julie {
  width: 399px;
  height: 257px;
  border-radius: 4px;
  border: 2px solid #e9672b;
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 8px -8px #cbc6f4;
}

.julie__top {
  padding: 34px 0 0 34px;
}

.julie__text {
  padding: 15px 72px 0 34px;
}

.autor {
  font-size: 16px;
  margin: 34px 0 0 34px;
}

.anthony {
  width: 399px;
  height: 257px;
  border-radius: 4px;
  border: 2px solid #225dca;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 8px -8px #e7cb43;
}

.anthony__top {
  margin: 34px 0 0 34px;
}

.anthony__text {
  padding: 15px 72px 0 34px;
}

.wesley {
  width: 399px;
  height: 257px;
  border-radius: 4px;
  border: 2px solid #242947;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 8px -8px #a2d4c5;
}

.wesley__top {
  margin: 34px 0 0 34px;
}

.wesley__text {
  padding: 15px 72px 0 34px;
}

#con__ease {
  height: 612px;
  background-color: #f6cfca;
}

.ease__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ease__text {
  padding: 0 194px;
  font-size: 88px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 39px 0 41px 0;
}

.ease__img {
  display: flex;
  justify-content: center;
  gap: 94px;
  align-items: center;
}

.footer {
  background-color: #fbf8f5;
}

.shop {
  margin: auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #cdd454;
}

.shop__text {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0 570px;
}

.shop__button {
  padding: 16px 40px;
  background-color: #e9672b;
  border-radius: 88px;
}

.shop__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav__footer {
  height: 650px;
  margin: auto;
  background-color: #f3f0ec;
}

.footer__wrapper {
  display: flex;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 0 80px;
  padding: 0;
}

.footer__item {
  display: flex;
}

.footer__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#one__link {
  margin: 82px 0 24px 0;
}

#social__img {
  gap: 16px;
}

#join {
  margin-top: 20px;
}

.footer__line {
  display: flex;
  margin-top: 60px;
  border: 1px solid black;
}

.last__img {
  margin: 40px 0 0 1149px;
}
