@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") *,
  *: : before, *: : after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #fbf8f5;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  margin-right: 100px;
  margin-left: 100px;
}

.nav {
}

.nav__link {
  margin-right: 35px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.nav_link:last-child {
  margin-right: 0;
}

.header_blockText {
}

.header__textOne {
  font-size: 64px;
  margin: 0 0 0 96px;
}

.header__textTwo {
  font-size: 18px;
  line-height: 28px;
  margin-left: 96px;
}

.header__button {
  background-color: rgba(233, 103, 43, 1);
  border-radius: 30px;
  width: 154px;
  height: 60px;
  font-size: 18px;
  margin-left: 105px;
}

.header__img {
  background-color: #fbf8f5;
}

.header__topText {
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.shop__room {
  display: flex;
  justify-content: center;
}

.living {
  margin: 0 30px 0 0;
  border-radius: 4px;
  border: 2px;
  color: rgba(233, 103, 43, 1);
  border-color: rgba(233, 103, 43, 1);
  box-shadow: 0 0 10px rgba(203, 198, 244, 1);
}

.bedroom {
  margin-right: 30px;
}

.office {
  margin-right: 30px;
}

.dining {
}

.Ltext {
  display: flex;
  justify-content: center;
  margin: 0 30px 0 0;
  text-decoration: none;
  color: black;
  font-size: 17px;
  background-color: white;
}

.Btext {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.Otext {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.Dtext {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.info {
  background-color: white;
}

.info__text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 10%;
}

.info__textTwo {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  margin: auto 194px 10% 194px;
}

.basis {
  background-color: white;
}

.basis__textOne {
  justify-content: start;
  font-size: 36px;
  margin: auto 20% auto 0%;
}

.basis__textTwo {
  font-size: 18px;
}

.basis__button {
  font-size: 18px;
  text-decoration-color: rgba(233, 103, 43, 1);
}
.basis__img {
}
